.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.table th {
  width: 200px;
}

.table td {
  text-align: center;
}
